
<ngx-loading-bar></ngx-loading-bar>

<header class="career-header">
	
    <div class="container">
    <div class="row h-100 align-items-center">
      <div class="col-md-12 text-center">
        <h1>Career</h1>
        
      </div>
      
    </div>
  </div><!--.container-->
    
</header>
<!--Header section-->

<!--Contact section-->
    
	<section class="py-5 team-bg" style="">
        
		<div class="container">
			
			<div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="job-detail job-single border rounded p-4">
                        <h4 class=""><a href="#" class="text-dark">{{detailist?.title}}</a></h4>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-3">
                                <p class="text-muted mb-2"><i class="far fa-building mr-1"></i>Appflox</p>
                            </li>

                            <li class="list-inline-item">
                                <p class="text-muted mb-2"><i class="fas fa-map-marker-alt mr-1"></i>{{detailist?.address}} </p>
                            </li>

                            <li class="list-inline-item">
                                <p class="text-muted mb-2"><small style="font-size: 90%; font-weight: 900;"> PKR</small> {{detailist?.sallary}}/month</p>
                            </li>
                        </ul>
                        <p class="text-muted mb-0">{{detailist?.short_des}}</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="text-dark mt-4">Job Description :</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="job-detail border rounded mt-2 p-4">
                                <div class="job-detail-desc" id='appendDecHTML'>
                                   
                                  
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="text-dark mt-4">Education &amp; Experience :</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="job-detail job-detail-list border rounded mt-2 p-4">
                                <div class="job-detail-desc" id='appendeducationHTML'>
                                   

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="text-dark mt-4">Responsibilities :</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="job-detail job-detail-list border rounded mt-2 p-4">
                                <div class="job-detail-desc" id='appendResponsibilitiesHTML'>
                            
                                    
                                  
								
									
                                </div>
                            </div>
                        </div>
                    </div>

                  

                  
                </div>

                <div class="col-lg-4 col-md-5 mt-4 mt-sm-0 pt-2 pt-sm-0">
					
					<div class="job-detail rounded border p-4 mb-4">
						<div class="contact-section form-job" style="background: none;">
							<h5 class="text-dark mb-2">Apply for Job</h5>
                       		<form [formGroup]='jobForm' id='applyjobform'>
                          <div class="form-row">
                            <div class="form-group col-md-12 mb-1">
                              <input type="text" class="form-control" id=""  name="name"
                              formControlName='name'
                               placeholder="Full Name" required='required'>
                               <div *ngIf="submitted && !jobForm.controls['name'].valid">
                                <span class="help-block" style="color:red"
                                 *ngIf="submitted && jobForm.controls['name'].hasError('required')">
                                 Full Name is required.</span>
                              </div>
                            </div>
                            <div class="form-group col-md-12 mb-1">
                              <input type="email" class="form-control" id="" required name="email"
                              formControlName='email' placeholder="Email">
                              <div *ngIf="submitted && !jobForm.controls['email'].valid">
                                <span class="help-block" style="color:red"
                                 *ngIf="submitted && jobForm.controls['email'].hasError('required')">
                                 email is required.</span>
                              </div>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-12 mb-1">
                              <input type="text" class="form-control" id="" required name="phone"
                              formControlName='phone' placeholder="Phone">
                              <div *ngIf="submitted && !jobForm.controls['phone'].valid">
                                <span class="help-block" style="color:red"
                                 *ngIf="submitted && jobForm.controls['phone'].hasError('required')">
                                 phone is required.</span>
                              </div>
                            </div>
                            <div class="form-group col-md-12 mb-1">
                              <input type="text" class="form-control" id="" required name="subject"
                              formControlName='subject' placeholder="Subject">
                              <div *ngIf="submitted && !jobForm.controls['subject'].valid">
                                <span class="help-block" style="color:red"
                                 *ngIf="submitted && jobForm.controls['subject'].hasError('required')">
                                 subject is required.</span>
                              </div>
                            </div>
							  <div class="form-group col-md-12 mb-1">
                              <input (change)='uploadFile($event)'
                              name='filename'  type="file" class="form-control pt-2">
                             
                            </div>
                          </div>
                          <div class="form-group mb-1">
                            <textarea class="form-control" id="exampleFormControlTextarea1"
                            name="message" formControlName='message' rows="3" required placeholder="Message"></textarea>
                            <div *ngIf="submitted && !jobForm.controls['message'].valid">
                                <span class="help-block" style="color:red"
                                 *ngIf="submitted && jobForm.controls['message'].hasError('required')">
                                 message is required.</span>
                              </div>
                        </div>
                        <ngx-invisible-recaptcha #captchaElem
                        [siteKey]="siteKey"
                        (reset)="handleReset()"
                        (ready)="handleReady()"
                        (load)="handleLoad()"
                        (success)="handleSuccess($event)"
                        [useGlobalDomain]="false"
                     
                        [ngModel]="recaptcha"
                        [ngModelOptions]="{ standalone: true }">
                      </ngx-invisible-recaptcha>
                          
                          <button  (click)="applyforjob(jobForm.value)" id='applyjob' class="btn btn-request btn-block">Apply for this Job</button>
                        </form>
						</div>
                    </div>
                    
                    <div class="job-detail rounded border job-overview mb-4">
                        <div class="single-post-item mb-4">
                            <div class="float-left mr-3 w-10">
                                <i class="fas fa-shield-alt text-muted fa-1x"></i>
                            </div>
                            <div class="overview-details">
                                <h6 class="text-muted mb-0 font-weight-bold">Experience</h6>
                                <h6 class="text-black-50 pt-2 mb-0">{{detailist?.experience}} Years Exp.</h6>
                            </div>
                        </div>

                        <div class="single-post-item mb-4">
                            <div class="float-left mr-3 w-10">
                                <small><b>PKR</b></small>
                            </div>
                            <div class="overview-details">
                                <h6 class="text-muted mb-0 font-weight-bold">Salary</h6>
                                <h6 class="text-black-50 pt-2 mb-0">{{detailist?.sallary}}/month</h6>
                            </div>
                        </div>

                        <div class="single-post-item mb-4">
                            <div class="float-left mr-3 w-10">
                                <i class="fas fa-border-all text-muted fa-1x"></i>
                            </div>
                            <div class="overview-details">
                                <h6 class="text-muted mb-0 font-weight-bold">Category</h6>
                                <h6 class="text-black-50 pt-2 mb-0">{{detailist?.category}}</h6>
                            </div>
                        </div>

                        <div class="single-post-item mb-4">
                            <div class="float-left mr-3 w-10">
                                <i class="far fa-calendar-alt text-muted fa-1x"></i>
                            </div>
                            <div class="overview-details">
                                <h6 class="text-muted mb-0 font-weight-bold">Date Posted</h6>
                                <h6 class="text-black-50 pt-2 mb-0">{{detailist?.created_at | date:'dd/MM/yyy'}}</h6>
                            </div>
                        </div>

                        <div class="single-post-item mb-4">
                            <div class="float-left mr-3 w-10">
                                <i class="fas fa-paper-plane text-muted fa-1x"></i>
                            </div>
                            <div class="overview-details">
                                <h6 class="text-muted mb-0 font-weight-bold">Email</h6>
                                <h6 class="text-black-50 pt-2 mb-0">jobs@appflox.com</h6>
                            </div>
                        </div>

                        <div class="single-post-item">
                            <div class="float-left mr-3 w-10">
                                <i class="fas fa-phone-square-alt text-muted fa-1x"></i>
                            </div>
                            <div class="overview-details">
                                <h6 class="text-muted mb-0 font-weight-bold">Contact No</h6>
                                <h6 class="text-black-50 pt-2 mb-0">(051) 8443 148</h6>
                            </div>
                        </div>
                    </div>

                    <h5 class="text-dark">Job Location</h5>
                    <div class="map">

                        <iframe width="100%" src="https://maps.google.com/maps?width=100%&height=600&hl=en&coord=33.6995877,72.9745551&q=Office%20E-501%2C%20Ittefaq%20Heights%20E-11%2F2%20Islamabad%2C%20Pakistan+(Appflox)&ie=UTF8&t=&z=14&iwloc=B&output=embed" class="rounded" style="border: 0" allowfullscreen=""></iframe>
                    </div>

                    <div class="job-details-desc-item mt-2">
                        <div class="float-left mr-2">
                            <i class="mdi mdi-map-marker text-muted"></i>
                        </div>
                        <p class="text-muted mb-2 p-0">Office E-501, Ittefaq Heights E-11/2 Islamabad, Pakistan</p>
                    </div>

                    <ul class="social-icon list-inline mb-0 mt-4">
                        <li class="list-item mb-2">Share :</li>
                        <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/appflox/" class=" rounded"><i class="fab fa-facebook-f"></i></a></li>
                       
                        <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/company/appflox" class=" rounded"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>                    

                    
                </div>
            </div><!-- .row -->
			
			
		
		</div><!-- .container -->
		
            
    
    </section>