<ngx-loading-bar></ngx-loading-bar>
<header class="career-header">
	
    <div class="container">
    <div class="row h-100 align-items-center">
      <div class="col-md-12 text-center">
        <h1>Career</h1>
        
      </div>
      
    </div>
  </div><!--.container-->
    
</header>
<!--Header section-->

<!--Contact section-->
    
	<section class="py-5 team-bg" style="">
        
		<div class="container">
			
			<div class="row">
				
				<div class="col-md-12">
					<h2 class="text-center">Recent Jobs</h2>
					
					<div *ngFor='let list of joblist' class="job-box bg-white overflow-hidden border rounded mt-4 position-relative overflow-hidden">
                                        
							<div class="p-4" style="cursor: pointer;color:#ffff" (click)='jobdetail(list.id)'>
								<div class="row align-items-center">

									<div class="col-md-3">
										<div>
											<h5 class="f-18"><a style="cursor: pointer;color:#ffff" (click)='jobdetail(list.id)' class="text-dark">{{list.title}}</a></h5>
										   <p class="text-muted m-0 p-0"><span class="text-dark">Experience :</span> {{list.experience}} years</p>
										</div>
									</div>
									<div class="col-md-3">
										<div>
											<p class="text-muted m-0 p-0"><i class="fa fa-map-marker text-primary mr-2"></i>{{list.address}}</p>
										</div>
									</div>
									<div class="col-md-2">
										<div>
											<p class="text-muted m-0 p-0"><span class="text-primary mr-2">PKR</span>{{list.sallary}}/m</p>
										</div>
									</div>
									<div class="col-md-2">
										<div>
											<p class="text-muted m-0 p-0">{{list.job_type}}</p>
										</div>
									</div>
									<div class="col-md-2 text-right">
										<div class="mo-mb-2">
											<a style="cursor: pointer;color:#ffff" (click)='jobdetail(list.id)' class="btn btn-primary">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
										</div>
									</div>
								</div>
							</div>

						</div>
					
					
					
					
				</div><!--col md 12-->
			
			</div><!-- .row -->
			
			<div class="row">
                <div class="col-lg-12 mt-4 pt-2">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination job-pagination mb-0 justify-content-center">
                        
							
							<li *ngFor="let page of pages" [ngClass]="{active:pager.current_page === page}"
							class="page-item number-item">
							<a (click)='loadPage(page)' class="page-link">{{page}}</a>
						  </li>
                           
                           
                        </ul>
                    </nav>
                </div>
            </div>
		
		</div><!-- .container -->
		
            
    
    </section>