<!--Header section-->
<ngx-loading-bar></ngx-loading-bar>
<header class="about-header" style="background:url(../../../assets/img/service-bg.jpg) top center no-repeat;">
	
    <div class="container">
    <div class="row h-100 align-items-center">
      <div class="col-md-6">
        <h1 class="capital-text">About <span>AppFlox</span></h1>
        <p class="capital-text">Appflox stands ahead for its brilliant work in the field of websites, mobile apps, software development, Artificial intelligence (Machine Learning), graphics and content writing along with friendly customer service at great rates. <br><br>
          Appflox is a team of software engineers and designers. We help enterprises strategically to build stronger customer relationships, add business value, and drive revenue.          </p>
        
      </div>
      <div class="col-md-6"><img src="../../../assets/img/about-img.png" alt="" class="img-fluid"></div>
    </div>
  </div><!--.container-->
    
</header>
<!--Header section-->

<!--Contact section-->
    
	<section class="bg-white py-5">
        
        <div class="container">
            
            <div class="row align-items-center mb-5">
      			
                <div class="col-md-6 order-2 order-md-1">
                    <h2 class="capital-text">Who <span>we Are</span></h2>
                    <p class="mb-4 capital-text">
                        Our clients are our most important assets, we give each client personal and individual attention to understand their business goals and provide the best solution so if there are ever any issues that need to be addressed, whether it involves software programming, connectivity or the updating of their sites, apps, individual or custom solutions. <br><br>we have the means and resources to achieve an expedited resolution. Our primary mandate is to ensure customer satisfaction. We help clients to plan and create strategies that will enhance their competitiveness and produce measurable results. </p>
      			</div><!--.colmd6-->
      
                  <div class="col-md-5 px-5 mx-auto order-1 order-md-2">
                  
                  	<img src="../../../assets/img/who-we-are-img.jpg" alt="" class="img-fluid mb-4 mb-lg-0">
                    
                  </div><!--.colmd5-->
                  
    	</div><!--.row-->
        
        <div class="row align-items-center get-quote-bg mb-5">
              <div class="col-md-6">
                 
                <h2 class="text-white capital-text">We can <span>help you!</span></h2>
                <p class="text-white pb-0 capital-text">Our team is friendly, enthusiastic, accommodating, and we listen to your needs. We'll work with you to help you find the solutions you've been looking for!
                    Ready to find out more? Fill out the form and we'll start talking about options for your new site!</p>
                
              </div><!--.colmd6-->
              
               <div class="col-md-6 mx-auto text-right">
                
                <a data-toggle="modal" data-target="#exampleModal"  class="btn btn-request">Get a Quote</a>
                
              </div><!--colmd5-->
              
            </div><!--row-->
        
		    <div class="row align-items-center">
              <div class="col-md-5 mx-auto">
                
                <img src="../../../assets/img/vision-img.jpg" alt="" class="img-fluid mb-4 mb-lg-0">
                
              </div><!--colmd5-->
              
              <div class="col-md-6">
              
                <h2 class="capital-text">Our <span>Vision</span></h2>
                <p class="mb-4 capital-text">Our vision is to be one of the leading companies in the field of developing, web designing ,Mobile apps development as well as in the field of Artificial Intelligence ( machine learning) .<br><br> We are capable to provide top quality IT services using the latest technology that can make the world a better place. We provide highly innovative web designing, web development, mobile apps development  and internet marketing services, content writing services and much more. For sure, you will get the desired output for any IT service, whether in Development or Digital Marketing.
                  </p>
                
              </div><!--.colmd6-->
              
            </div><!--row-->

            <div class="row align-items-center mb-5">
      			
                <div class="col-md-6 order-2 order-md-1">
                    <h2 class="capital-text">Our <span>Mission</span></h2>
                    <h3 class="capital-text"> “Your dream is our mission” </h3>
                    <p class="mb-4 capital-text">
                        Being a professional company, our mission is to deliver a technically sound and affordable business solutions. Our Aim is to provide customer-centric, result oriented, cost-competitive innovative & functional IT solutions to all our highly valued national as well as international clients.
</p>
      			</div><!--.colmd6-->
      
                  <div class="col-md-5 px-5 mx-auto order-1 order-md-2">
                  
                  	<img src="../../../assets/img/who-we-are-img.jpg" alt="" class="img-fluid mb-4 mb-lg-0">
                    
                  </div><!--.colmd5-->
                  
    	</div><!--.row-->
        
        </div><!--container-->
    
    </section>
<!--Contact section-->
    
<!--compnay vision section-->

<!--Team section-->

<section class="team-bg py-5">
	
    <div class="container">
    <div class="row mb-4">
      <div class="col-md-12 text-center">
        <h2 class="capital-text">Our <span>Team</span></h2>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4 boxstyle">
        <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Manuella Nevoresky</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4 boxstyle">
        <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Samuel Hardy</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4 boxstyle">
        <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-2_f8dowd.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Tom Sunderland</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4 boxstyle">
        <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">John Tarly</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          
        </div>
      </div>
      <!-- End-->

    </div><!-- Row -->
  </div><!--.container-->
  
</section><!--.team-bg-->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request a Quote</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <form [formGroup]='QuoteForm' id='aboutquoteform'>
    <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" name='Fullname' formControlName='Fullname' class="form-control" id="" placeholder="Full Name">
    <div *ngIf="submitted && !QuoteForm.controls['Fullname'].valid">
      <span class="help-block" style="color:red"
       *ngIf="submitted && QuoteForm.controls['Fullname'].hasError('required')">
       Name is required.</span>
    </div>
    </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" name='email' formControlName='email' class="form-control" id="" placeholder="name@example.com">
    <div *ngIf="submitted && !QuoteForm.controls['email'].valid">
      <span class="help-block" style="color:red"
       *ngIf="submitted && QuoteForm.controls['email'].hasError('required')">
       Email is required.</span>
    </div>
    <div *ngIf="submitted && !QuoteForm.controls['email'].valid">
      <span class="help-block" style="color:red"
       *ngIf="submitted && QuoteForm.controls['email'].hasError('email')">
       Email is not valid.</span>
    </div>
    </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Phone</label>
    <input type="text" name='phone' formControlName='phone' class="form-control" id="" placeholder="Phone Number">
    <div *ngIf="submitted && !QuoteForm.controls['phone'].valid">
      <span class="help-block" style="color:red"
       *ngIf="submitted && QuoteForm.controls['phone'].hasError('required')">
       Phone is required.</span>
    </div>
    </div>
    
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea class="form-control" name='message' formControlName='message' id="exampleFormControlTextarea1" rows="3"></textarea>
    <div *ngIf="submitted && !QuoteForm.controls['message'].valid">
      <span class="help-block" style="color:red"
       *ngIf="submitted && QuoteForm.controls['message'].hasError('required')">
       Message is required.</span>
    </div>
  </div>
    </form>
          
      </div>
      <div class="modal-footer">
        <button type="button" 
         (click)='sendRequest(QuoteForm.value)' id='sendRequest'  class="btn btn-request">
         Send Request</button>
      </div>
    </div>
    </div>
    </div>

    <!--Modal-->