<header class="subheader header-mobile">
	
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <div class="slider-content">
                    <div class="row align-center">
          
          <div class="col-md-5">
              <div class="d-none d-md-block">
          <img src="../../../assets/img/mobile-service-img.png" class="img-fluid" alt="...">
              </div>
        </div>
	
            <div class="col-md-7">
        
          <h1>Mobile Application <span>Development</span></h1>
            <p>Easily plan and manage your flights with the
new mobile app. Enjoy our seamless service
from booking to boarding</p>
			
            <div class="apps-logo">
	           <span class="d-inline-block pr-3"><img src="../../../assets/img/apple-icon.png"></span>
               <span class="d-inline-block pr-3"><img src="../../../assets/img/andriod-icon.png"></span>
               <span class="d-inline-block pr-3"><img src="../../../assets/img/ionic-icon.png"></span>
               <span class="d-inline-block pr-3"><img src="../../../assets/img/hybrid-icon.png"></span>
           </div><!--.apps logo-->
        
          </div><!--content-->

          </div>
                    <!--row--> 
                </div>
                <!--slider content--> 
            </div>
            <!--col md 12 slider content--> 
        </div>
        <!--.row--> 
    </div>
    <!--.container--> 
</header>
<!--Header section-->
    
<!--Welcome section-->
    
    <section class="welcome-section">
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-6">
                    
                    <h2>Use the application <span>to build Routes</span></h2>
                    
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of 
classical Latin literature.</p>
                   
                </div><!--welcome text-->
                
                <div class="col-md-6">
                    
                        <img src="../../../assets/img/service-mob-2.png" class="" alt=""/> 
                
                </div><!--welcome image-->
                
            
            </div><!--row-->
        
        </div><!--container-->
    
    </section>
    
<!--Welcome section-->
    
<!--Work section-->
    <section class="how-works-section">
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-lg-12">
                    
                    <h2>How it Works?</h2>
                
                </div><!--col md 12-->
                
                <div class="col-lg-4">
                	
                    <div class="boxstyle-blue">
                    
	                    <div class="boxstyle">
                    	
                        <h3>01</h3>
                        <h4>Plan your Trip</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
                        <a href="#" class="btn btn-request">Know More</a>
                    
                    </div><!--boxstyle-->
                    
                    </div><!--boxstyle blue-->
                
                </div><!--.colmd4-->
                
                <div class="col-lg-4">
                	
                    <div class="boxstyle-blue">
                    
	                    <div class="boxstyle">
                    	
                        <h3>02</h3>
                        <h4>Flexible Search</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
                        <a href="#" class="btn btn-request">Know More</a>
                    
                    </div><!--boxstyle-->
                    
                    </div><!--boxstyle blue-->
                
                </div><!--.colmd4-->
                
                <div class="col-lg-4">
                	
                    <div class="boxstyle-blue">
                    
	                    <div class="boxstyle">
                    	
                        <h3>03</h3>
                        <h4>Find Trip Info</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
                        <a href="#" class="btn btn-request">Know More</a>
                    
                    </div><!--boxstyle-->
                    
                    </div><!--boxstyle blue-->
                
                </div><!--.colmd4-->
            
            </div><!--row-->
        
        </div><!--container-->
        
    </section>
<!--Work section-->
    
<!--Quote section-->
    
    <section class="quote-section bg-white">
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-6">
                    
                    <h2>Simply <span class="d-block">Itinerary Delivery</span></h2>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
<br /><br />
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit </p>
                    
                
                </div><!--welcome text-->
                
                <div class="col-md-6">
                    
                        <img src="../../../assets/img/project-img.png" class="m-0" alt=""/> 
                
                </div><!--welcome image-->
                
            
            </div><!--row-->
        
        </div><!--container-->
    
    </section>