
    <section class="service-bg">
        <div class="container">
            <div class="row">
                    
                <div class="col-lg-4 col-md-6">
                    
                    <h2>
                    We Provide 
                    <span>Best Services</span>
                    </h2>
                    <p>Appflox is an information technology group working globally on
                         the leading edge of innovative web solution.<br><br>
                         Our end to end services are streamlined
                          and optimized to help you deliver solutions that solve real problems.</p>
                    
                    <!-- <a href="#!" class="btn btn-request">Know More</a> -->
                    
                </div>
                <!--col md 4-->
                
                <div class="col-lg-8 col-md-6">
                    
                    <div class="row">
                        
                        <div class="owl-carousel owl-theme">
        <div class="item">
              <div class="service-box">

                <div class="round-icon">

                    <img src="../../../assets/img/mobile-icon.svg" alt=""/> 

                </div><!--round icon-->

                <h3>Mobile Development</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>

            </div><!--service box-->
            
        </div>
        <div class="item">
            <div class="service-box">

                <div class="round-icon">

                    <img src="../../../assets/img/web-development-icon.svg" alt=""/> 

                </div><!--round icon-->

                <h3>Web Development</h3>
                <p>Appflox offers reliable Web Development 
                    Services worldwide to generate the most remarkable results & strengthen your business.</p>

            </div><!--service box-->
        </div>
        <div class="item">
              <div class="service-box">

                <div class="round-icon">

                    <img src="../../../assets/img/mobile-icon.svg" alt=""/> 

                </div><!--round icon-->

                <h3>Mobile Development</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>

            </div><!--service box-->
            
        </div>
        <div class="item">
            <div class="service-box">

                <div class="round-icon">

                    <img src="../../../assets/img/web-development-icon.svg" alt=""/> 

                </div><!--round icon-->

                <h3>Web Development</h3>
                <p>Appflox offers reliable Web Development 
                        Services worldwide to generate the most remarkable results & strengthen your business.</p>

            </div><!--service box-->
        </div>
        <div class="item">
              <div class="service-box">

                <div class="round-icon">

                    <img src="../../../assets/img/mobile-icon.svg" alt=""/> 

                </div><!--round icon-->

                <h3>Mobile Development</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>

            </div><!--service box-->
            
        </div>
        <div class="item">
            <div class="service-box">

                <div class="round-icon">

                    <img src="../../../assets/img/web-development-icon.svg" alt=""/> 

                </div><!--round icon-->

                <h3>Web Development</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>

            </div><!--service box-->
        </div>
      </div>
                        
                        
                    </div>
                    <!--row-->
                    
                    
                    
                    
                </div>
                <!--col md 4-->
                
            </div>
            <!--row-->
        </div>
        <!--container-->
</section>

<!--services section-->

<!--Welcome section-->

<section class="welcome-section">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-5">
                
                <h2>Who we are <span>Welcome to Appflox</span></h2>
                
                <p>Appflox stands ahead for its brilliant work in the field of websites, mobile apps, software development, graphics and content writing along with friendly customer service at great rates. Appflox is a team of software engineers and designers. <br />
<br />
We help enterprises strategically to build stronger customer relationships, add business value, and drive revenue. Our clients are our most important assets,
</p>
                
                <a routerLink='about' class="btn btn-request">Know More</a>
            
            </div><!--welcome text-->
            
            <div class="col-md-6 offset-1">
                
                    <img src="../../../assets/img/welcome-img.png" class="" alt=""/> 
            
            </div><!--welcome image-->
            
        
        </div><!--row-->
    
    </div><!--container-->

</section>

<!--Welcome section-->

<!--Work section-->
<section class="work-section">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-12">
                
                <h2>Latest Work <span>Design Solutions for any kind of business</span></h2>
            
            </div><!--col md 12-->
            
            <div class="project-slider">
                
               <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">

                                        <div class="col-lg-5 col-sm-5">

                                                <img src="../../../assets/img/project-img.png" alt=""/> 

                                        </div><!--col md 6-->

                                        <div class="col-ld-6 offset-1 col-sm-6">

                                                <h3>TrendFX</h3>
                                                <p>Morbi ac elementum lorem. Etiam imperdiet faucibus ipsum id faucibus. Aenean feugiat purus faucibus risus varius</p>
                                            <ul>
                                                <li>UI/UX Design</li>
                                                <li>HTML5</li>
                                                <li>Less Sass</li>
                                            </ul>

                                            <ul>
                                                <li>Mobile Responsive</li>
                                                <li>Laravel</li>
                                                <li>Angular</li>
                                            </ul>

                                        </div><!--col md 6-->

                                    </div><!--row-->
                    </div>
                    <div class="carousel-item">
                      <div class="row">

                                        <div class="col-lg-5 col-sm-5">

                                                <img src="../../../assets/img/project-img.png" alt=""/> 

                                        </div><!--col md 6-->

                                        <div class="col-ld-6 offset-1 col-sm-6">

                                                <h3>TrendFX</h3>
                                                <p>Morbi ac elementum lorem. Etiam imperdiet faucibus ipsum id faucibus. Aenean feugiat purus faucibus risus varius</p>
                                            <ul>
                                                <li>UI/UX Design</li>
                                                <li>HTML5</li>
                                                <li>Less Sass</li>
                                            </ul>

                                            <ul>
                                                <li>Mobile Responsive</li>
                                                <li>Laravel</li>
                                                <li>Angular</li>
                                            </ul>

                                        </div><!--col md 6-->

                                    </div><!--row-->
                    </div>
                    <div class="carousel-item">
                      <div class="row">

                                        <div class="col-lg-5 col-sm-5">

                                                <img src="../../../assets/img/project-img.png" alt=""/> 

                                        </div><!--col md 6-->

                                        <div class="col-ld-6 offset-1 col-sm-6">

                                                <h3>TrendFX</h3>
                                                <p>Morbi ac elementum lorem. Etiam imperdiet faucibus ipsum id faucibus. Aenean feugiat purus faucibus risus varius</p>
                                            <ul>
                                                <li>UI/UX Design</li>
                                                <li>HTML5</li>
                                                <li>Less Sass</li>
                                            </ul>

                                            <ul>
                                                <li>Mobile Responsive</li>
                                                <li>Laravel</li>
                                                <li>Angular</li>
                                            </ul>

                                        </div><!--col md 6-->

                                    </div><!--row-->
                    </div>
                  </div>
                </div>
                
            </div><!--testimonial slider-->
        
        </div><!--row-->
    
    </div><!--container-->
    
</section>
<!--Work section-->

<!--Testimonial section-->

<section class="testimonial-section">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-12">
                <h2>Testimonial <span>What’s Our Customer Say’s</span></h2>
            </div><!--Heading-->
            
            <div class="col-lg-9 col-sm-12 testimonial-bg">
                
                <div class="testimonial-box">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">
                        
                        <div class="col-md-5">
                            
                            <p>Was exactly what we were lookign for. Very functional and easy to use. Would recommend to anyone.</p>
                            
                            <h4>Mabel Payne <span>Art Director</span></h4>
                        
                        </div><!--comment-->
                        
                        <div class="col-md-6 offset-1">
                            
                            <div class="client-img">
                                
                                <img src="../../../assets/img/author-img.png" alt=""/> 
                                
                            </div><!--client img-->
                        
                        </div><!--pic-->
                    
                    </div><!--row-->
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                        
                        <div class="col-md-5">
                            
                            <p>Was exactly what we were lookign for. Very functional and easy to use. Would recommend to anyone.</p>
                            
                            <h4>Mabel Payne <span>Art Director</span></h4>
                        
                        </div><!--comment-->
                        
                        <div class="col-md-6 offset-1">
                            
                            <div class="client-img">
                                
                                <img src="../../../assets/img/author-img.png" alt=""/> 
                                
                            </div><!--client img-->
                        
                        </div><!--pic-->
                    
                    </div><!--row-->
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                        
                        <div class="col-md-5">
                            
                            <p>Was exactly what we were lookign for. Very functional and easy to use. Would recommend to anyone.</p>
                            
                            <h4>Mabel Payne <span>Art Director</span></h4>
                        
                        </div><!--comment-->
                        
                        <div class="col-md-6 offset-1">
                            
                            <div class="client-img">
                                
                                <img src="../../../assets/img/author-img.png" alt=""/> 
                                
                            </div><!--client img-->
                        
                        </div><!--pic-->
                    
                    </div><!--row-->
                    </div>
                  </div>
                </div>
                    
                
                </div><!--testimonial box-->
            
            </div><!--col md 10-->
            
        </div><!--row-->
    
    </div><!--container-->

</section>

<!--Testimonial section-->

<!--Quote section-->

<section class="quote-section">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-7">
                
                <h2>Just one <span>Click Away!</span></h2>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                
                <a routerLink="contact" class="btn btn-request">Get A Quote</a>
            
            </div><!--welcome text-->
            
            <div class="col-md-5">
                
                    <img src="../../../assets/img/quote-img.png" class="" alt=""/> 
            
            </div><!--welcome image-->
            
        
        </div><!--row-->
    
    </div><!--container-->

</section>