
    <section class="service-bg">
        <div class="container">
            <div class="row">
                    
                <div class="col-lg-4 col-md-6">
                    
                    <h2>
                    We Provide 
                    <span>Best Services</span>
                    </h2>
                    <p>Appflox is an information technology group working globally on
                         the leading edge of innovative web solution.<br><br>
                         Our end to end services are streamlined
                          and optimized to help you deliver solutions that solve real problems.</p>
                    
                    <!-- <a href="#!" class="btn btn-request">Know More</a> -->
                    
                </div>
                <!--col md 4-->
                
                <div class="col-lg-8 col-md-6">
                    
                    <div class="row">
                        
                        <div class="owl-carousel owl-theme">
                                <div class="item">
                                        <div class="service-box">
                          
                                          <div class="round-icon">
                          
                                              <img src="../../../assets/img/mobile-icon.svg" alt=""/> 
                          
                                          </div><!--round icon-->
                          
                                          <h3>Machine Learning</h3>
                                          <p>We are certified Machine Learning experts and mathematicians with 
                                              real world experience training models on the cloud and deploying AI assistants.</p>
                          
                                      </div><!--service box-->
                                      
                                  </div>
        <div class="item">
              <div class="service-box">

                <div class="round-icon">

                    <img src="../../../assets/img/mobile-icon.svg" alt=""/> 

                </div><!--round icon-->

                <h3>Mobile Development</h3>
                <p>Build a solid app faster with our mobile platform that has pre-mode feature modules.
                        We have been creating high performance.</p>

            </div><!--service box-->
            
        </div>
        <div class="item">
            <div class="service-box">

                <div class="round-icon">

                    <img src="../../../assets/img/web-development-icon.svg" alt=""/> 

                </div><!--round icon-->

                <h3>Web Development</h3>
                <p>Appflox offers reliable Web Development 
                    Services worldwide to generate the most remarkable results & strengthen your business.</p>

            </div><!--service box-->
        </div>
        <div class="item">
              <div class="service-box">

                <div class="round-icon">

                    <img src="../../../assets/img/mobile-icon.svg" alt=""/> 

                </div><!--round icon-->

                <h3>UI/UX</h3>
                <p>Our UI/UX designers create web and mobile user interfaces. We make apps that are simple, 
                    beautiful, and useful from conceptualization to user.
                      </p>

            </div><!--service box-->
            
        </div>
        <div class="item">
            <div class="service-box">

                <div class="round-icon">

                    <img src="../../../assets/img/web-development-icon.svg" alt=""/> 

                </div><!--round icon-->

                <h3>SEO</h3>
                <p>We are providing Best SEO Services and free consultancy
                     along with a complete road map to perform better than competitors.</p>

            </div><!--service box-->
        </div>
        <div class="item">
              <div class="service-box">

                <div class="round-icon">

                    <img src="../../../assets/img/mobile-icon.svg" alt=""/> 

                </div><!--round icon-->

                <h3>Content Writing</h3>
                <p>Whether you are a Small Business or a Large Enterprise, whatever your content needs are, 
                    we’ve got you covered! Our ability to undertake.</p>

            </div><!--service box-->
            
        </div>
    
      </div>
                        
                        
                    </div>
                    <!--row-->
                    
                    
                    
                    
                </div>
                <!--col md 4-->
                
            </div>
            <!--row-->
        </div>
        <!--container-->
</section>

<!--services section-->

<!--Welcome section-->

<section class="welcome-section">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-5">
                
                <h2>Who we are <span>Welcome to Appflox</span></h2>
                
                <p>Appflox stands ahead for its brilliant work in the field of websites, mobile apps, software development, Artificial intelligence (Machine Learning) ,graphics and content writing along with friendly customer service at great rates. Appflox is a team of software engineers and designers. <br />
<br />
We help enterprises strategically to build stronger customer relationships, add business value, and drive revenue. Our clients are our most important assets,
</p>
                
                <a routerLink='about' class="btn btn-request">Know More</a>
            
            </div><!--welcome text-->
            
            <div class="col-md-6 offset-1">
                
                    <img src="../../../assets/img/welcome-img.png" class="" alt=""/> 
            
            </div><!--welcome image-->
            
        
        </div><!--row-->
    
    </div><!--container-->

</section>

<!--Welcome section-->

<!--Work section-->
<section class="work-section">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-12">
                
                <h2>Latest Work <span>Design Solutions for any kind of business</span></h2>
            
            </div><!--col md 12-->
            
            <div class="project-slider">
                
               <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">

                                        <div class="col-lg-5 col-sm-5">

                                                <img src="../../../assets/img/project-img.png" alt=""/> 

                                        </div><!--col md 6-->

                                        <div class="col-ld-6 offset-1 col-sm-6">

                                                <h3>TrendFX</h3>
                                                <p>TrendFX offers traders the opportunity to trade 
                                                    with Metatrader 5, 
                                                    the most popular and newest trading platform in 
                                                    the foreign exchange market.</p>
                                            <ul>
                                                <li>UI/UX Design</li>
                                                <li>HTML5</li>
                                                <li>Less Sass</li>
                                            </ul>

                                            <ul>
                                                <li>Mobile Responsive</li>
                                                <li>Laravel</li>
                                                <li>Angular</li>
                                            </ul>

                                        </div><!--col md 6-->

                                    </div><!--row-->
                    </div>
                    <div class="carousel-item">
                      <div class="row">

                                        <div class="col-lg-5 col-sm-5">

                                                <img src="../../../assets/img/project-img.png" alt=""/> 

                                        </div><!--col md 6-->

                                        <div class="col-ld-6 offset-1 col-sm-6">

                                                <h3>BalansFX</h3>
                                                <p>BalansFX offers traders the opportunity to trade 
                                                        with Metatrader 5, 
                                                        the most popular and newest trading platform in 
                                                        the foreign exchange market.</p>
                                            <ul>
                                                <li>UI/UX Design</li>
                                                <li>HTML5</li>
                                                <li>Less Sass</li>
                                            </ul>

                                            <ul>
                                                <li>Mobile Responsive</li>
                                                <li>Laravel</li>
                                                <li>Angular</li>
                                            </ul>

                                        </div><!--col md 6-->

                                    </div><!--row-->
                    </div>
                    <div class="carousel-item">
                      <div class="row">

                                        <div class="col-lg-5 col-sm-5">

                                                <img src="../../../assets/img/project-img.png" alt=""/> 

                                        </div><!--col md 6-->

                                        <div class="col-ld-6 offset-1 col-sm-6">

                                                <h3>FXTRD</h3>
                                                <p>FXTRD offers traders the opportunity to trade 
                                                        with Metatrader 5, 
                                                        the most popular and newest trading platform in 
                                                        the foreign exchange market.</p>
                                            <ul>
                                                <li>UI/UX Design</li>
                                                <li>HTML5</li>
                                                <li>Less Sass</li>
                                            </ul>

                                            <ul>
                                                <li>Mobile Responsive</li>
                                                <li>Laravel</li>
                                                <li>Angular</li>
                                            </ul>

                                        </div><!--col md 6-->

                                    </div><!--row-->
                    </div>
                    
                  </div>
                </div>
                
            </div><!--testimonial slider-->
        
        </div><!--row-->
    
    </div><!--container-->
    
</section>
<!--Work section-->

<!--Testimonial section-->

<section class="testimonial-section">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-12">
                <h2>Testimonial <span>What’s Our Customer Say’s</span></h2>
            </div><!--Heading-->
            
            <div class="col-lg-9 col-sm-12 testimonial-bg">
                
                <div class="testimonial-box">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">
                        
                        <div class="col-md-5">
                            
                            <p>Always provide the best service for our continuous project maintenance and customisation. Thank you</p>
                            
                            <h4>Sencer Turgut</h4>
                        
                        </div><!--comment-->
                        
                        <div class="col-md-6 offset-1">
                            
                            <div class="client-img">
                                
                                <img src="../../../assets/img/author-img.png" alt=""/> 
                                
                            </div><!--client img-->
                        
                        </div><!--pic-->
                    
                    </div><!--row-->
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                        
                        <div class="col-md-5">
                            
                            <p>Excellent, very professional and of high calibre. Recommended. 
                                Do try once. Many a successful project completed.</p>
                            
                            <h4>Sundeep Dauga</h4>
                        
                        </div><!--comment-->
                        
                        <div class="col-md-6 offset-1">
                            
                            <div class="client-img">
                                
                                <img src="../../../assets/img/author-img.png" alt=""/> 
                                
                            </div><!--client img-->
                        
                        </div><!--pic-->
                    
                    </div><!--row-->
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                        
                        <div class="col-md-5">
                            
                            <p>Appflox  gave a great effort to complete this task. 
                                They worked over hours without complaining,
                                 they are very cooperative.</p>
                            
                            <h4>Galin Ananiev<span></span></h4>
                        
                        </div><!--comment-->
                        
                        <div class="col-md-6 offset-1">
                            
                            <div class="client-img">
                                
                                <img src="../../../assets/img/author-img.png" alt=""/> 
                                
                            </div><!--client img-->
                        
                        </div><!--pic-->
                    
                    </div><!--row-->
                    </div>
                    <div class="carousel-item">
                            <div class="row">
                              
                              <div class="col-md-5">
                                  
                                  <p>A highly skilled team providing  Excellent service. We got exactly what we wanted and more . My first choice among all.
                                     </p>
                                  
                                  <h4>Kamlesh<span></span></h4>
                              
                              </div><!--comment-->
                              
                              <div class="col-md-6 offset-1">
                                  
                                  <div class="client-img">
                                      
                                      <img src="../../../assets/img/author-img.png" alt=""/> 
                                      
                                  </div><!--client img-->
                              
                              </div><!--pic-->
                          
                          </div><!--row-->
                          </div>
                          <div class="carousel-item">
                                <div class="row">
                                  
                                  <div class="col-md-5">
                                      
                                      <p>Bilal is more than a developer, his perspective to your 
                                          work as a cooperative partner. Will love to work with him again </p>
                                      
                                      <h4>Galin Ananiev <span></span></h4>
                                  
                                  </div><!--comment-->
                                  
                                  <div class="col-md-6 offset-1">
                                      
                                      <div class="client-img">
                                          
                                          <img src="../../../assets/img/author-img.png" alt=""/> 
                                          
                                      </div><!--client img-->
                                  
                                  </div><!--pic-->
                              
                              </div><!--row-->
                              </div>
                  </div>
                </div>
                    
                
                </div><!--testimonial box-->
            
            </div><!--col md 10-->
            
        </div><!--row-->
    
    </div><!--container-->

</section>

<!--Testimonial section-->

<!--Quote section-->

<section class="quote-section">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-7">
                
                <h2>We can <span>help you!</span></h2>
                
                <p>Our team is friendly, enthusiastic, accommodating, and we listen to your needs. We'll work with you to help you find the solutions you've been looking for!
                        Ready to find out more? Fill out the form and we'll start talking about options for your new site!
                       </p>
                
                <a routerLink="contact" class="btn btn-request">Get A Quote</a>
            
            </div><!--welcome text-->
            
            <div class="col-md-5">
                
                    <img src="../../../assets/img/quote-img.png" class="" alt=""/> 
            
            </div><!--welcome image-->
            
        
        </div><!--row-->
    
    </div><!--container-->

</section>