<nav class="navbar navbar-expand-lg navbar-light fixed-top custom-nav" id="navbar" (scroll)="onWindowScroll($event);"> 
                    
                    <div class="container">
                    	
                        <div class="row w-100 m-0">
                        
                        	<div class="col-lg-2 col-sm-12">
                        	
                            <a class="navbar-brand" routerLink=""></a>
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
              			</div><!--.colmd12-->
                            
                            <div class="col-lg-10 d-flex">      
                                
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="">Home</a> 
                                </li>
                                <li class="nav-item "> 
                                    <a class="nav-link" (click)='about()' id='about' routerLink="about">About us</a> 
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link" style="cursor: pointer" id='service' (click)='service()'>Services</a>
                                    <ul>
                                        <li>
                                            <a routerLink="uxuiservice">UI/UX Design</a>
                                        </li>
                                        <li>
                                            <a routerLink="webservice">Web Development</a>
                                        </li>
                                        <li>
                                            <a routerLink="mobileservice">Mobile Application</a>
                                        </li>
                                        <li>
                                            <a routerLink='seoservice'>Seo Services</a>
                                        </li>
                                        <li>
                                            <a routerLink='contentservice'>Content Writer</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- <li class="nav-item"> 
                                    <a class="nav-link" style="cursor: pointer" id='work' (click)='work()'>Work</a> 
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link" id='blog' (click)='blog()' style="cursor: pointer">Blog</a> 
                                </li> -->
                                <li class="nav-item"> 
                                    <a class="nav-link" id='contact' (click)='contact()' routerLink="contact">Contact</a> 
                                </li>
                                
                            </ul>
                            <a class="get-quote" href="#!" data-toggle="modal" data-target="#exampleModal">GET A QUOTE</a> 
                        </div><!--.collaps-->
                            
                            </div><!--.colmd10-->
                        	
                        </div><!--.row-->
                    
                    </div><!--.container-->
                    
                    
                </nav>

      <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Request a Quote</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
        <form [formGroup]='QuoteForm'>
  <div class="form-group">
  <label for="exampleFormControlInput1">Name</label>
  <input type="text" name='Fullname' formControlName='Fullname' class="form-control" id="" placeholder="Full Name">
  <div *ngIf="submitted && !QuoteForm.controls['Fullname'].valid">
    <span class="help-block" style="color:red"
     *ngIf="submitted && QuoteForm.controls['Fullname'].hasError('required')">
     Name is required.</span>
  </div>
  </div>
  <div class="form-group">
  <label for="exampleFormControlInput1">Email address</label>
  <input type="email" name='email' formControlName='email' class="form-control" id="" placeholder="name@example.com">
  <div *ngIf="submitted && !QuoteForm.controls['email'].valid">
    <span class="help-block" style="color:red"
     *ngIf="submitted && QuoteForm.controls['email'].hasError('required')">
     Email is required.</span>
  </div>
  <div *ngIf="submitted && !QuoteForm.controls['email'].valid">
    <span class="help-block" style="color:red"
     *ngIf="submitted && QuoteForm.controls['email'].hasError('email')">
     Email is not valid.</span>
  </div>
  </div>
  <div class="form-group">
  <label for="exampleFormControlInput1">Phone</label>
  <input type="text" name='phone' formControlName='phone' class="form-control" id="" placeholder="Phone Number">
  <div *ngIf="submitted && !QuoteForm.controls['phone'].valid">
    <span class="help-block" style="color:red"
     *ngIf="submitted && QuoteForm.controls['phone'].hasError('required')">
     Phone is required.</span>
  </div>
  </div>
  
  <div class="form-group">
  <label for="exampleFormControlTextarea1">Message</label>
  <textarea class="form-control" name='message' formControlName='message' id="exampleFormControlTextarea1" rows="3"></textarea>
  <div *ngIf="submitted && !QuoteForm.controls['message'].valid">
    <span class="help-block" style="color:red"
     *ngIf="submitted && QuoteForm.controls['message'].hasError('required')">
     Message is required.</span>
  </div>
</div>
  </form>
        
    </div>
    <div class="modal-footer">
      <button type="button" (click)='sendRequest(QuoteForm.value)' class="btn btn-request">Send Request</button>
    </div>
  </div>
  </div>
  </div>
                      