<nav class="navbar navbar-expand-lg navbar-light fixed-top custom-nav" id="navbar"> 
                    
                    <div class="container">
                    	
                        <div class="row w-100 m-0">
                        
                        	<div class="col-lg-2 col-sm-12">
                        	
                            <a class="navbar-brand" href="index.html"></a>
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
              			</div><!--.colmd12-->
                            
                            <div class="col-lg-10 d-flex">      
                                
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="">Home</a> 
                                </li>
                                <li class="nav-item "> 
                                    <a class="nav-link active" routerLink="about">About us</a> 
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link" href="#!">Services</a>
                                    <ul>
                                        <li>
                                            <a routerLink="webservice">Web Development</a>
                                        </li>
                                        <li>
                                            <a routerLink="mobileservice">Mobile Application</a>
                                        </li>
                                        <li>
                                            <a >Seo Services</a>
                                        </li>
                                        <li>
                                            <a >Content Writer</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link" href="#!">Work</a> 
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link" href="#!">Blog</a> 
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link" routerLink="contact">Contact</a> 
                                </li>
                                
                            </ul>
                            <a class="get-quote" href="#!" data-toggle="modal" data-target="#exampleModal">GET A QUOTE</a> 
                        </div><!--.collaps-->
                            
                            </div><!--.colmd10-->
                        	
                        </div><!--.row-->
                    
                    </div><!--.container-->
                    
                    
                </nav>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Request a Quote</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          
                            <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Name</label>
                      <input type="text" class="form-control" id="" placeholder="Full Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Email address</label>
                      <input type="email" class="form-control" id="" placeholder="name@example.com">
                    </div>
                  <div class="form-group">
                      <label for="exampleFormControlInput1">Phone</label>
                      <input type="number" class="form-control" id="" placeholder="Phone Number">
                    </div>
                    
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Message</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </form>
                            
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-request">Send Request</button>
                        </div>
                      </div>
                    </div>
                  </div>
                      