<header class="about-header" style="background:url(../../../assets/img/design-bg.jpg) top center no-repeat;">
	
    <div class="container">
    <div class="row h-100 align-items-center">
      <div class="col-md-6">
        <h1><small>We Promised to bring the best</small> <span class="d-inline-block">Solution for your business.</span></h1>
        
      </div>
      <div class="col-md-6"><img src="../../../assets/img/design-vector.png" alt="" class="img-fluid"></div>
    </div>
  </div><!--.container-->
    
</header>

<!--Header section-->
    
<!--Welcome section-->
    
    <section class="feature-section work-process">
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-6 m-auto text-center">
                    
                    <h2>Our Work <span class="d-inline-block">Process</span></h2>
                    
                    <p>We provides a collation of pre-designed pages, carefully crafted elements and easily customizable templates.
                    </p>
                    
                    
                   
                </div><!--welcome text-->
                
                <div class="col-md-12">
                    	
                        <div class="row">
                        	
                            <div class="col-md-3 mt-4">
                            	
                                <div class="boxstyle">
                       	
                                    <div class="icon-app">
                                        
                                    	<img src="../../../assets/img/estimate-icon.png" alt=""> 
                                    
                                    </div><!--app icon-->
                                    
                                    <h4>Estimate</h4>
                                    <p class="mb-0 pb-0">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                               
                               </div><!--boxstyle-->
                               
                               
                            </div><!--colmd6-->
                            
							<div class="col-md-3 mt-4">
								<div class="boxstyle">
                       	
                                    <div class="icon-app">
                                        
                                    	<img src="../../../assets/img/idea-icon2.png" alt=""> 
                                    
                                    </div><!--app icon-->
                                    
                                    <h4>Ideas</h4>
                                    <p class="mb-0 pb-0">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                               
                               </div><!--boxstyle-->
							</div><!--colmd3-->
							
                            <div class="col-md-3 mt-4">
                            	
                                <div class="boxstyle">
                       	
                                    <div class="icon-app">
                                        
                                    	<img src="../../../assets/img/sketch-icon.png" alt=""> 
                                    
                                    </div><!--app icon-->
                                    
                                    <h4>Sketch</h4>
									<p class="mb-0 pb-0">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
									
                               </div><!--boxstyle-->
                               
                               
                            </div><!--colmd6-->
							
							<div class="col-md-3 mt-4">
								
								<div class="boxstyle">

										<div class="icon-app">

											<img src="../../../assets/img/design-icon.png" alt=""> 

										</div><!--app icon-->

										<h4>Design</h4>
									<p class="mb-0 pb-0">Lorem ipsum dolor sit amet, consectetur adipiscing</p>

								  </div><!--boxstyle-->
								
							</div><!--colmd3-->
                        
                        </div><!--.row-->
                        
                
                </div><!--welcome image-->
                
            
            </div><!--row-->
        
        </div><!--container-->
    
    </section>
    
<!--Welcome section-->
    
<!--Work section-->
    <section class="work-section">
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-12">
                    
                    <h2>Latest Work <span>Design Solutions for any kind of business</span></h2>
                
                </div><!--col md 12-->
                
                <div class="project-slider">
                    
                   <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="row">

                                            <div class="col-lg-5 col-sm-5">

                                                    <img src="../../../assets/img/project-img.png" alt=""/> 

                                            </div><!--col md 6-->

                                            <div class="col-ld-6 offset-1 col-sm-6">

                                                    <h3>TrendFX</h3>
                                                    <p>Morbi ac elementum lorem. Etiam imperdiet faucibus ipsum id faucibus. Aenean feugiat purus faucibus risus varius</p>
                                                <ul>
                                                    <li>UI/UX Design</li>
                                                    <li>HTML5</li>
                                                    <li>Less Sass</li>
                                                </ul>

                                                <ul>
                                                    <li>Mobile Responsive</li>
                                                    <li>Laravel</li>
                                                    <li>Angular</li>
                                                </ul>

                                            </div><!--col md 6-->

                                        </div><!--row-->
                        </div>
                        <div class="carousel-item">
                          <div class="row">

                                            <div class="col-lg-5 col-sm-5">

                                                    <img src="../../../assets/img/project-img.png" alt=""/> 

                                            </div><!--col md 6-->

                                            <div class="col-ld-6 offset-1 col-sm-6">

                                                    <h3>TrendFX</h3>
                                                    <p>Morbi ac elementum lorem. Etiam imperdiet faucibus ipsum id faucibus. Aenean feugiat purus faucibus risus varius</p>
                                                <ul>
                                                    <li>UI/UX Design</li>
                                                    <li>HTML5</li>
                                                    <li>Less Sass</li>
                                                </ul>

                                                <ul>
                                                    <li>Mobile Responsive</li>
                                                    <li>Laravel</li>
                                                    <li>Angular</li>
                                                </ul>

                                            </div><!--col md 6-->

                                        </div><!--row-->
                        </div>
                        <div class="carousel-item">
                          <div class="row">

                                            <div class="col-lg-5 col-sm-5">

                                                    <img src="../../../assets/img/project-img.png" alt=""/> 

                                            </div><!--col md 6-->

                                            <div class="col-ld-6 offset-1 col-sm-6">

                                                    <h3>TrendFX</h3>
                                                    <p>Morbi ac elementum lorem. Etiam imperdiet faucibus ipsum id faucibus. Aenean feugiat purus faucibus risus varius</p>
                                                <ul>
                                                    <li>UI/UX Design</li>
                                                    <li>HTML5</li>
                                                    <li>Less Sass</li>
                                                </ul>

                                                <ul>
                                                    <li>Mobile Responsive</li>
                                                    <li>Laravel</li>
                                                    <li>Angular</li>
                                                </ul>

                                            </div><!--col md 6-->

                                        </div><!--row-->
                        </div>
                      </div>
                    </div>
                    
                </div><!--testimonial slider-->
            
            </div><!--row-->
        
        </div><!--container-->
        
    </section>
<!--Work section-->
    
	
<!--Quote section-->
    
    <section class="quote-section">
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-7">
                    
                    <h2>Just one <span>Click Away!</span></h2>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    
                    <a routerLink="/contact" class="btn btn-request">Get A Quote</a>
                
                </div><!--welcome text-->
                
                <div class="col-md-5">
                    
                        <img src="../../../assets/img/quote-img.png" class="" alt=""/> 
                
                </div><!--welcome image-->
                
            
            </div><!--row-->
        
        </div><!--container-->
    
    </section>
    
<!--Quote section-->