<header class="about-header" style="background:url(../../../assets/img/design-bg.jpg) top center no-repeat;">
	
    <div class="container">
    <div class="row h-100 align-items-center">
      <div class="col-md-6">
        <h1 class="capital-text"><small style="font-size: 30px;">Design creates culture.
        </small> <span class="d-inline-block capital-text">Culture shapes values.</span></h1>
        
      </div>
      <div class="col-md-6"><img src="../../../assets/img/design-vector.png" alt="" class="img-fluid"></div>
    </div>
  </div><!--.container-->
    
</header>

<!--Header section-->
    
<!--Welcome section-->
    
    <section class="feature-section work-process">
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-6 m-auto text-center">
                    
                    <h2 class="capital-text">Our Work <span class="d-inline-block">Process</span></h2>
                    
                    <p class="capital-text">
                            Our UI/UX designers create web and mobile user interfaces. We make apps that are simple, beautiful,
                             and useful from conceptualization to user experience design.
                    </p>
                    
                    
                   
                </div><!--welcome text-->
                
                <div class="col-md-12">
                    	
                        <div class="row">
                        	
                            <div class="col-md-3 mt-4">
                            	
                                <div class="boxstyle">
                       	
                                    <div class="icon-app">
                                        
                                    	<img src="../../../assets/img/estimate-icon.png" alt=""> 
                                    
                                    </div><!--app icon-->
                                    
                                    <h4 class="capital-text">Estimate</h4>
                                    <p class="mb-0 pb-0 capital-text">
                                            Understand requirements, create user personas, and define use cases</p>
                               
                               </div><!--boxstyle-->
                               
                               
                            </div><!--colmd6-->
                            
							<div class="col-md-3 mt-4">
								<div class="boxstyle">
                       	
                                    <div class="icon-app">
                                        
                                    	<img src="../../../assets/img/idea-icon2.png" alt=""> 
                                    
                                    </div><!--app icon-->
                                    
                                    <h4 class="capital-text">Ideas</h4>
                                    <p class="mb-0 pb-0 capital-text">Analyze competitors, 
                                        research latest UX trends, keep an eye on guidelines</p>
                               
                               </div><!--boxstyle-->
							</div><!--colmd3-->
							
                            <div class="col-md-3 mt-4">
                            	
                                <div class="boxstyle">
                       	
                                    <div class="icon-app">
                                        
                                    	<img src="../../../assets/img/sketch-icon.png" alt=""> 
                                    
                                    </div><!--app icon-->
                                    
                                    <h4 class="capital-text">Sketch</h4>
									<p class="mb-0 pb-0 capital-text">Gather ideas, draw sketches 
                                        and wireframes, evaluate and re-draw
                                        </p>
									
                               </div><!--boxstyle-->
                               
                               
                            </div><!--colmd6-->
							
							<div class="col-md-3 mt-4">
								
								<div class="boxstyle">

										<div class="icon-app">

											<img src="../../../assets/img/design-icon.png" alt=""> 

										</div><!--app icon-->

										<h4 class="capital-text">Design</h4>
									<p class="mb-0 pb-0 capital-text">Design images, create prototypes, and define UX guidelines
                                        </p>

								  </div><!--boxstyle-->
								
							</div><!--colmd3-->
                        
                        </div><!--.row-->
                        
                
                </div><!--welcome image-->
                
            
            </div><!--row-->
        
        </div><!--container-->
    
    </section>
    
<!--Welcome section-->
    
<!--Work section-->
    <section class="work-section">
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-12">
                    
                    <h2 class="capital-text">Latest Work <span class="capital-text">Design Solutions for any kind of business</span></h2>
                
                </div><!--col md 12-->
                


                 <div class="project-slider">
                
               <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">

                                        <div class="col-lg-5 col-sm-5 text-center">

                                                <img src="../../../assets/img/trendFx.png" alt=""/> 

                                        </div><!--col md 6-->

                                        <div class="col-ld-6 offset-1 col-sm-6">

                                                <h3 class="capital-text">TrendFX</h3>
                                                <p class="capital-text">TrendFX offers traders the opportunity to trade 
                                                    with Metatrader 5, 
                                                    the most popular and newest trading platform in 
                                                    the foreign exchange market.</p>
                                            <ul>
                                                <li>UI/UX Design</li>
                                                <li>HTML5</li>
                                                <li>Less Sass</li>
                                            </ul>

                                            <ul>
                                                <li>Mobile Responsive</li>
                                                <li>Laravel</li>
                                                <li>Angular</li>
                                            </ul>

                                        </div><!--col md 6-->

                                    </div><!--row-->
                    </div>
                    <div class="carousel-item">
                      <div class="row">

                                        <div class="col-lg-5 col-sm-5 text-center">

                                                <img src="../../../assets/img/BFX.png" alt=""/> 

                                        </div><!--col md 6-->

                                        <div class="col-ld-6 offset-1 col-sm-6">

                                                <h3 class="capital-text">BalansFX</h3>
                                                <p class="capital-text">BalansFX offers traders the opportunity to trade 
                                                        with Metatrader 5, 
                                                        the most popular and newest trading platform in 
                                                        the foreign exchange market.</p>
                                            <ul>
                                                <li>UI/UX Design</li>
                                                <li>HTML5</li>
                                                <li>Less Sass</li>
                                            </ul>

                                            <ul>
                                                <li>Mobile Responsive</li>
                                                <li>Laravel</li>
                                                <li>Angular</li>
                                            </ul>

                                        </div><!--col md 6-->

                                    </div><!--row-->
                    </div>
                    <div class="carousel-item">
                      <div class="row">

                                        <div class="col-lg-5 col-sm-5 text-center">

                                                <img src="../../../assets/img/FxTRD.png" alt=""/> 

                                        </div><!--col md 6-->

                                        <div class="col-ld-6 offset-1 col-sm-6">

                                                <h3 class="capital-text">FXTRD</h3>
                                                <p class="capital-text">FXTRD offers traders the opportunity to trade 
                                                        with Metatrader 5, 
                                                        the most popular and newest trading platform in 
                                                        the foreign exchange market.</p>
                                            <ul>
                                                <li>UI/UX Design</li>
                                                <li>HTML5</li>
                                                <li>Less Sass</li>
                                            </ul>

                                            <ul>
                                                <li>Mobile Responsive</li>
                                                <li>Laravel</li>
                                                <li>Angular</li>
                                            </ul>

                                        </div><!--col md 6-->

                                    </div><!--row-->
                    </div>
                    <div class="carousel-item">
                            <div class="row">
      
                                              <div class="col-lg-5 col-sm-5 text-center">
      
                                                      <img src="../../../assets/img/falvefal.png" alt=""/> 
      
                                              </div><!--col md 6-->
      
                                              <div class="col-ld-6 offset-1 col-sm-6">
      
                                                      <h3 class="capital-text">FALVEFAL</h3>
                                                      <p class="capital-text">FALVEFAL easy for real fortune-tellers to have their fortune read online. Coffee fortune, tarot fortune,
                                                           katina love fortune, relationship counseling, astrology fortune telling</p>
                                                  <ul>
                                                      <li>UI/UX Design</li>
                                                      <li>HTML5</li>
                                                      <li>Less Sass</li>
                                                  </ul>
      
                                                  <ul>
                                                      <li>Mobile Responsive</li>
                                                      <li>Laravel</li>
                                                      <li>Symfony</li>
                                                  </ul>
      
                                              </div><!--col md 6-->
      
                                          </div><!--row-->
                          </div>
                          <div class="carousel-item">
                                <div class="row">
          
                                                  <div class="col-lg-5 col-sm-5 text-center">
          
                                                          <img src="../../../assets/img/bundle-express.png" alt=""/> 
          
                                                  </div><!--col md 6-->
          
                                                  <div class="col-ld-6 offset-1 col-sm-6">
          
                                                          <h3 class="capital-text">Bundle Express</h3>
                                                          <p class="capital-text">Bundle Express Send your parcels, objects and furniture with peace of mind and up to 80% cheaper, insurance included</p>
                                                      <ul>
                                                          <li>UI/UX Design</li>
                                                          <li>HTML5</li>
                                                          <li>Less Sass</li>
                                                      </ul>
          
                                                      <ul>
                                                          <li>Mobile Responsive</li>
                                                        
                                                          <li>Core Php</li>
                                                      </ul>
          
                                                  </div><!--col md 6-->
          
                                              </div><!--row-->
                              </div>
                  </div>
                </div>
                
            </div><!--testimonial slider-->
        
            </div><!--row-->
        
        </div><!--container-->
        
    </section>
<!--Work section-->
    
	
<!--Quote section-->
    
    <section class="quote-section">
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-7">
                    
                        <h2 class="capital-text">We can <span>help you!</span></h2>
                
                        <p class="capital-text">Our team is friendly, enthusiastic, accommodating, and we listen to your needs. We'll work with you to help you find the solutions you've been looking for!
                                Ready to find out more? Fill out the form and we'll start talking about options for your new site!
                               </p>
                    <a routerLink="/contact" class="btn btn-request">Get A Quote</a>
                
                </div><!--welcome text-->
                
                <div class="col-md-5">
                    
                        <img src="../../../assets/img/quote-img.png" class="" alt=""/> 
                
                </div><!--welcome image-->
                
            
            </div><!--row-->
        
        </div><!--container-->
    
    </section>
    
<!--Quote section-->