<header class="subheader subheader-service">
	
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <div class="slider-content text-center">
                    <div class="row align-center">
          <div class="col-md-8 m-auto">
          <h1>Web <span class="d-inline-block">Development</span></h1>
            <p class="font24">Easily plan and manage your flights with the
new mobile app. Enjoy our seamless service
from booking to boarding</p>
			
          </div><!--content-->
          <div class="col-md-12">
              <div class="d-none d-md-block">
          <img src="../../../assets/img/web-service-img.png" class="img-fluid" alt="...">
              </div>
        </div>
	
            

          </div>
                    <!--row--> 
                </div>
                <!--slider content--> 
            </div>
            <!--col md 12 slider content--> 
        </div>
        <!--.row--> 
    </div>
    <!--.container--> 
</header>
<!--Header section-->
    
<!--Welcome section-->
    
    <section class="feature-section welcome-section">
        
        <div class="container">
            
            <div class="row">
            
            	<div class="col-md-10 m-auto">
                	
                    <div class="applogos">
                    	
                        <ul>

                        	<li>
                       	    	<img src="../../../assets/img/php-icon.png" > 
                            </li>
                            
                            <li>
                       	    	<img src="../../../assets/img/sql-icon.png" > 
                            </li>
                            
                            <li>
                       	    	<img src="../../../assets/img/angular-icon.png" > 
                            </li>
                            
                            <li>
                       	    	<img src="../../../assets/img/node-icon.png" > 
                            </li>
                            
                            <li>
                       	    	<img src="../../../assets/img/react-icon.png" > 
                            </li>
                            
                        </ul>
                    
                    </div><!--.applogos-->
                
                </div><!--.colmd12-->
                
                <div class="col-md-5">
                    
                    <h2>Feature <span>Web Development</span></h2>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    
                    <h4>UI/UX Design</h4>
                   	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    
                    <h4>React &amp; Vua JS</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                   
                </div><!--welcome text-->
                
                <div class="col-md-6 offset-1">
                    	
                        <div class="row">
                        	
                            <div class="col-md-6">
                            	
                                <div class="boxstyle">
                       	
                                    <div class="icon-app">
                                        
                                    	<img src="../../../assets/img/idea-icon.png"> 
                                    
                                    </div><!--app icon-->
                                    
                                    <h4>Idea</h4>
                                    <p class="mb-0">A complete about-face economy Amsterdams</p>
                               
                               </div><!--boxstyle-->
                               
                               <div class="boxstyle mt-4">
                       	
                                    <div class="icon-app">
                                        
                                    	<img src="../../../assets/img/develop-icon.png"> 
                                    
                                    </div><!--app icon-->
                                    
                                    <h4>Develop</h4>
                                    <p class="mb-0">A complete about-face economy Amsterdams</p>
                               
                               </div><!--boxstyle-->
                            
                            </div><!--colmd6-->
                            
                            <div class="col-md-6">
                            	
                                <div class="boxstyle mt-5">
                       	
                                    <div class="icon-app">
                                        
                                    	<img src="../../../assets/img/research-icon.png"> 
                                    
                                    </div><!--app icon-->
                                    
                                    <h4>Research</h4>
                                    <p class="mb-0">A complete about-face economy Amsterdams</p>
                               
                               </div><!--boxstyle-->
                               
                               <div class="boxstyle mt-4">
                       	
                                    <div class="icon-app">
                                        
                                    	<img src="../../../assets/img/deploy-icon.png"> 
                                    
                                    </div><!--app icon-->
                                    
                                    <h4>Deploy</h4>
                                    <p class="mb-0">A complete about-face economy Amsterdams</p>
                               
                               </div><!--boxstyle-->
                            
                            </div><!--colmd6-->
                        
                        </div><!--.row-->
                        
                
                </div><!--welcome image-->
                
            
            </div><!--row-->
        
        </div><!--container-->
    
    </section>
    
<!--Welcome section-->
    
<!--Work section-->
    <section class="how-works-section client-section">
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-12">
                    
                    <h2>Our Trusted Clients</h2>
                
                </div><!--col md 12-->
                
                
                    <div class="col-lg-10 col-sm-12 m-auto">
                		<div class="row">
                            	
                		<div class="col-md-4 mt-4">
                	
	                 <div class="boxstyle">
                    	
                        <div class="app-icon">
                        	
                          <img src="../../../assets/img/clients-icon.png"> 
                          
                        </div><!--app icon-->
                        <h4>450+</h4>
                        <p>Happy Clients</p>
                    
                    </div><!--boxstyle-->
                    
                </div><!--.colmd4-->
                
		                <div class="col-md-4 mt-4">
                	
                    <div class="boxstyle">
                    	
                        <div class="app-icon">
                        	
                          <img src="../../../assets/img/projects-icon.png"> 
                          
                        </div><!--app icon-->
                        <h4>4510+</h4>
                        <p>Running Projects</p>
                    
                    </div><!--boxstyle-->
                    
                </div><!--.colmd4-->
                
        		        <div class="col-md-4 mt-4">
                	
					<div class="boxstyle">
                    	
                        <div class="app-icon">
                        	
                          <img src="../../../assets/img/clients-icon.png"> 
                          
                        </div><!--app icon-->
                        <h4>2500+</h4>
                        <p>Completed Projects</p>
                    
                    </div><!--boxstyle-->
                    
                </div><!--.colmd4-->
                
                    </div>
                
                </div>
                
            
            </div><!--row-->
        
        </div><!--container-->
        
    </section>
<!--Work section-->
    