<footer>
        
    <div class="container">
        
        <div class="row">
            
            <div class="col-lg-8 m-auto">
                
                <h2 class="capital-text">Sounds like a match</h2>
                <p>If you think that we’d be a good fit to solve your design challenge, just contact us!
                        We can’t wait to start working with you!
                        </p>
                
                <div class="subscribe-form">
                    
                    <form [formGroup]='emailSubscribe' id='subscribeform'>
                        
                      <div class="form-group position-relative">

                        <input type="email" class="form-control subscribe" name='email' formControlName='email'
                         id="emailAddress" placeholder="Your email address">
                        <button type="submit" (click)='subscribe(emailSubscribe.value)' class="btn btn-subscribe btn-request">Subscribe</button>
                        <div *ngIf="submitted && !emailSubscribe.controls['email'].valid">
                            <span class="help-block" style="color:red"
                             *ngIf="submitted && emailSubscribe.controls['email'].hasError('required')">
                             Email is required.</span>
                          </div>
                          <div *ngIf="submitted && !emailSubscribe.controls['email'].valid">
                            <span class="help-block" style="color:red"
                             *ngIf="submitted && emailSubscribe.controls['email'].hasError('email')">
                             Email is not valid.</span>
                          </div>
                      </div><!--form group-->
                    
                    </form><!--form-->
                
                </div><!--subscribe form-->

            </div><!--col md 8-->
            
            <div class="col-md-12 text-center mt-4 mt-4">
                
                <a routerLink="">
                    <img src="../../../assets/img/logo-appflox.png" alt=""/> 
                </a>
                
            </div><!--col md 12-->
            
            <div class="footer-links col-lg-11 col-sm-12 row m-auto">
                
                <div class="col-md-6 mt-5">
                    
                    <h4>Quick Links</h4>
                    
                    <ul>
                        <li>
                            <a routerLink="">Home</a>
                        </li>
                        <li>
                            <a routerLink="about">About</a>
                        </li>
                        <li>
                            <a routerLink="#">Services</a>
                        </li>
                        <li>
                            <a routerLink="#">Work</a>
                        </li>
                    </ul>
                    
                    <ul>
                        <li>
                            <a routerLink="#">Blog</a>
                        </li>
                        <li>
                            <a routerLink="contact">Contact</a>
                        </li>
                        <li>
                            <a routerLink="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a routerLink="#">Terms &amp; Condition</a>
                        </li>
                    </ul>
                    
                </div><!--col md 6-->
                
                <div class="col-md-6 mt-5">
                    
                    <h4>Our Services</h4>
                    
                    <ul>
                        <li>
                            <a routerLink="webservice">Web Development</a>
                        </li>
                        <li>
                            <a routerLink="mobileservice">Mobile Apps Development</a>
                        </li>
                        <li>
                            <a routerLink="#!">Microsoft Technology</a>
                        </li>
                        <li>
                            <a routerLink="#!">Web &amp; Graphic Desiging</a>
                        </li>
                    </ul>
                    
                    <ul>
                        <li>
                            <a routerLink="#!">Seo/SMM/Internet Marketing</a>
                        </li>
                        <li>
                            <a routerLink="#!">Content Writter</a>
                        </li>
                        <li class="invisible">
                            <a routerLink="#">Content</a>
                        </li>
                        <li class="invisible">
                            <a routerLink="#!">Content</a>
                        </li>
                    </ul>
                    
                </div><!--col md 6-->
            
            </div><!--footer links-->
            
            <div class="copyrights col-lg-11 col-sm-12 row m-auto">
                
                <div class="col-md-8 mt-5">
                    
                    <p>Copyright &copy; 2016-2019 Appflox. All rights reserved.</p>
                    
                </div><!--col md 6-->
                
                <div class="col-md-4 mt-5">
                    
                   <p class="social">
                       Follow us:
                       <a target="_blank" href="https://www.facebook.com/appflox/">
                           <i class="fab fa-facebook-f"></i>
                       </a>
                       <a routerLink="#!">
                           <i class="fab fa-twitter"></i>
                       </a>
                       <a target="_blank" href="https://www.linkedin.com/company/appflox">
                           <i class="fab fa-linkedin-in"></i>
                       </a>
                   </p>
                    
                </div><!--col md 6-->
            
            </div><!--copyright-->
            
        </div><!--row-->
        
    </div><!--container-->
    
    

</footer>


<!--footer-->
