
          
<!--Header section-->
<header class="about-header" style="">
	
        <div class="container">
        <div class="row h-100 align-items-center">
          <div class="col-md-6">
              <h6 class="text-danger text-uppercase">Digitial Marketing</h6>
            <h1>Data analysis tool <span>for everyone</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
          </div>
          <div class="col-md-6"><img src="../../../assets/img/SEO-img2.png" alt="" class="img-fluid"></div>
        </div>
      </div><!--.container-->
        
    </header>
    <!--Header section-->
     
    <!--clients section-->
        <section class="happy-clients text-center">
            
            <div class="container">
                
                <div class="row">
                    
                    
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                    
                            <div class="col-md-3">
                        
                            <div class="app-icon">
                                
                              <img src="../../../assets/img/clients-icon-trans.png" alt=""> 
                              
                            </div><!--app icon-->
                            <h4>450+</h4>
                            <p>Happy Clients</p>
                        
                        
                    </div><!--.colmd4-->
                    
                            <div class="col-md-3">
                        
                            <div class="app-icon">
                                
                              <img src="../../../assets/img/projects-icon-trans.png" alt=""> 
                              
                            </div><!--app icon-->
                            <h4>4510+</h4>
                            <p>Running Projects</p>
                        
                        
                    </div><!--.colmd4-->
                    
                            <div class="col-md-3">
                        
                            <div class="app-icon">
                                
                              <img src="../../../assets/img/seo-icon-trans.png" alt=""> 
                              
                            </div><!--app icon-->
                            <h4>250+</h4>
                            <p>SEO Winner</p>
                                
                        
                    </div><!--.colmd4-->
                                <div class="col-md-3">
                        
                            
                            <div class="app-icon">
                                
                              <img src="../../../assets/img/completed-icon-trans.png" alt=""> 
                              
                            </div><!--app icon-->
                            <h4>2500+</h4>
                            <p>Completed Projects</p>
                        
                        
                    </div><!--.colmd4-->
                                
                    </div>
                    
                        </div>
                    
                    
                </div><!--row-->
            
            </div><!--container-->
            
        </section>
    <!--Work section-->
    
        <!--Contact section-->
        
        <section class="contact-section">
            
            <div class="container">
                
                <div class="row">
                    
                    <div class="boxstyle">
                        
                        <div class="row m-0">
                            
                            <div class="col-md-8 m-auto text-center">
                                
                                <h6 class="text-danger">BEST SEO</h6>
                                <h2>How does it <span class="d-inline-block">works?</span></h2>
    
                            </div><!--colmd8-->	
                            
                            <div class="col-md-12 m-auto">
                                
                                    
                                    <ul class="nav nav-tabs custom-tabs text-center" id="myTab" role="tablist">
                                      <li class="nav-item">
                                        <a class="nav-link active" id="online-tab" data-toggle="tab" href="#online" role="tab" aria-controls="online" aria-selected="true">
                                            <div>
                                            <i class="fas fa-bullhorn fa-2x d-block"></i>
                                            Online Marketing
                                          </div>
                                          </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="email-tab" data-toggle="tab" href="#email" role="tab" aria-controls="email" aria-selected="false">
                                            <div>
                                            <i class="far fa-paper-plane fa-2x d-block"></i>
                                            Email Marketing
                                                </div>
                                                </a>
                                            
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="reporting-tab" data-toggle="tab" href="#reporting" role="tab" aria-controls="reporting" aria-selected="false">
                                            <div>
                                            <i class="fas fa-chart-area fa-2x d-block"></i>
                                            Reporting &amp; Analysis
                                            </div>	
                                            </a>
                                      </li>
                                        <li class="nav-item">
                                        <a class="nav-link" id="recovery-tab" data-toggle="tab" href="#recovery" role="tab" aria-controls="recovery" aria-selected="false">
                                            <div>
                                            <i class="fas fa-chart-pie fa-2x d-block"></i>
                                            Panetily Recovery
                                            </div>	
                                            </a>
                                      </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                      <div class="tab-pane fade show active" id="online" role="tabpanel" aria-labelledby="online-tab">
                                        
                                          <div class="row">
                                              
                                            <div class="col-md-6">
    
                                                <img src="../../../assets/img/digital-marketing.png" width="100%" alt=""/> 
    
                                            </div><!--col md 5-->
    
                                            <div class="col-md-6">
    
                                                <h3>Digital Marketing</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                <ul>
                                                    <li>16 Social Media Reviews</li>
                                                    <li>4 Free Optimization</li>
                                                </ul>
    
                                            </div><!--col md 7-->
                                        
                                        </div><!--row-->
                                          
                                      </div>
                                      <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="email-tab">
                                        
                                        <div class="row">
                                              
                                            <div class="col-md-6">
    
                                                <img src="../../../assets/img/email-marketing.png" width="100%" alt=""/> 
    
                                            </div><!--col md 5-->
    
                                            <div class="col-md-6">
    
                                                <h3>Email Marketing</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                <ul>
                                                    <li>16 Social Media Reviews</li>
                                                    <li>4 Free Optimization</li>
                                                </ul>
    
                                            </div><!--col md 7-->
                                        
                                        </div>
                                          
                                      </div>
                                        
                                      <div class="tab-pane fade" id="reporting" role="tabpanel" aria-labelledby="reporting-tab">
                                        
                                          <div class="row">
                                              
                                            <div class="col-md-6">
    
                                                <img src="../../../assets/img/report.svg" width="100%" alt=""/> 
    
                                            </div><!--col md 5-->
    
                                            <div class="col-md-6">
    
                                                <h3>Reporting &amp; Analysis</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                <ul>
                                                    <li>16 Social Media Reviews</li>
                                                    <li>4 Free Optimization</li>
                                                </ul>
    
                                            </div><!--col md 7-->
                                        
                                        </div>
                                        
                                      </div>
                                        
                                        <div class="tab-pane fade" id="recovery" role="tabpanel" aria-labelledby="recovery-tab">
                                        
                                          <div class="row">
                                              
                                            <div class="col-md-6">
    
                                                <img src="../../../assets/img/recover.png" width="100%" alt=""/> 
    
                                            </div><!--col md 5-->
    
                                            <div class="col-md-6">
    
                                                <h3>Panetily Recovery</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                <ul>
                                                    <li>16 Social Media Reviews</li>
                                                    <li>4 Free Optimization</li>
                                                </ul>
    
                                            </div><!--col md 7-->
                                        
                                        </div>
                                        
                                      </div>
                                    </div>
                                    
                                
                            </div><!--colmd8-->
                            
                        </div>
                    
                    </div><!--boxstyle-->
                    
                
                </div><!--row-->
            
            </div><!--container-->
        
        </section>
        
    <!--Contact section-->
    
        
        