<header class="contact-header" style="background: url(../../../assets/img/map.jpg) no-repeat !important;">
	
</header>
<!--Header section-->
    
<!--Contact section-->
    
    <section class="contact-section">
        
        <div class="container">
            
            <div class="row">
                
                <div class="boxstyle">
                	
                    <div class="row m-0">
                    <div class="col-md-8">
                    	
                        <h2>Leave <span class="d-inline-block">Message</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
laboris nisi ut aliquip ex ea commodo consequat. </p>

						<form [formGroup]='contactForm'>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <input type="text" name='name' formControlName='name' class="form-control" id="" placeholder="Fullname">
                              <div *ngIf="submitted && !contactForm.controls['name'].valid">
                                <span class="help-block" style="color:red"
                                 *ngIf="submitted && contactForm.controls['name'].hasError('required')">
                                 Name is required.</span>
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                              <input type="email" name='email' formControlName='email' class="form-control" id="" placeholder="Email">
                              <div *ngIf="submitted && !contactForm.controls['email'].valid">
                                <span class="help-block" style="color:red"
                                 *ngIf="submitted && contactForm.controls['email'].hasError('required')">
                                 Email is required.</span>
                              </div>
                              <div *ngIf="submitted && !contactForm.controls['email'].valid">
                                <span class="help-block" style="color:red"
                                 *ngIf="submitted && contactForm.controls['email'].hasError('email')">
                                 Email is not valid.</span>
                              </div>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <input type="text" name='phone' formControlName='phone' class="form-control" id="" placeholder="Phone">
                              <div *ngIf="submitted && !contactForm.controls['phone'].valid">
                                <span class="help-block" style="color:red"
                                 *ngIf="submitted && contactForm.controls['phone'].hasError('required')">
                                 Phone is required.</span>
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                              <input type="text" name='subject' formControlName='subject' class="form-control" id="" placeholder="Subject">
                              <div *ngIf="submitted && !contactForm.controls['subject'].valid">
                                <span class="help-block" style="color:red"
                                 *ngIf="submitted && contactForm.controls['subject'].hasError('required')">
                                 subject is required.</span>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <textarea class="form-control" name='message' formControlName='message' id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                            <div *ngIf="submitted && !contactForm.controls['message'].valid">
                              <span class="help-block" style="color:red"
                               *ngIf="submitted && contactForm.controls['message'].hasError('required')">
                               Message is required.</span>
                            </div>
                          </div>
                          
                          
                          <button type="submit" (click)='contactUs(contactForm.value)' class="btn btn-request">Submit</button>
                        </form><!--form-->
                    
                    </div><!--colmd8-->
                    
                    <div class="col-md-4">
                    	
                        <h2 class="custom-h2">Get <span class="d-inline-block">in Touch</span></h2>
                    	
                        <div class="location">
                        	
                            <ul>
                            	<li>
                                	<i class="fas fa-map-marker-alt"></i> Lorem ipsum dolor sit amet, consectetur Islamabad, Pakistan
                                </li>
                                <li>
                                	<i class="fa fa-phone-alt"></i> (051) 8443148
                                </li>
                                <li>
                                	<i class="fa fa-envelope"></i> <a href="#">info@appflox.com</a>
                                </li>
                                <li>
                                	<i class="fa fa-globe"></i> <a href="#">www.appflox.com</a>
                                </li>
                            </ul>
                        
                        </div><!--location-->
                        
                        <h2>Follow <span class="d-inline-block">us</span></h2>
                    	
                        <div class="location">
                        	
                            <ul>
                            	<li>
                                	<i class="fab fa-facebook-square"></i> <a href="#">Facebook</a>
                                </li>
                                <li>
                                	<i class="fab fa-twitter-square"></i> <a href="#">Twitter</a>
                                </li>
                                <li>
                                	<i class="fab fa-linkedin-in"></i> <a href="#">LinkedIn</a>
                                </li>
                                
                            </ul>
                        
                        </div><!--location-->
                        
                    </div><!--colmd4-->
                    </div>
                
                </div><!--boxstyle-->
                
            
            </div><!--row-->
        
        </div><!--container-->
    
    </section>
    
<!--Contact section-->