<ngx-loading-bar></ngx-loading-bar>
<!--Header section-->
<header class="contact-header" style="background: url(../../../assets/img/map.jpg) no-repeat !important;">
	
</header>
<!--Header section-->
    
<!--Contact section-->
    
    <section class="contact-section">
        
        <div class="container">
            
            <div class="row">
                
                <div class="boxstyle">
                	
                    <div class="row m-0">
                    <div class="col-md-8">
                    	
                        <h2>Leave <span class="d-inline-block">Message</span></h2>
                        <p>Appflox needs the contact information you provide to follow up with you about your inquiry.
                           By clicking submit below, you consent to allow us to store and process the personal 
                           information submitted below.
                          </p>

						<form [formGroup]='contactForm' id='contactform'>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <input type="text" name='Fullname' formControlName='Fullname' class="form-control" id="" placeholder="Full Name">
                              <div *ngIf="submitted && !contactForm.controls['Fullname'].valid">
                                <span class="help-block" style="color:red"
                                 *ngIf="submitted && contactForm.controls['Fullname'].hasError('required')">
                                 Name is required.</span>
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                              <input type="email" name='email' formControlName='email' class="form-control" id="" placeholder="Email">
                              <div *ngIf="submitted && !contactForm.controls['email'].valid">
                                <span class="help-block" style="color:red"
                                 *ngIf="submitted && contactForm.controls['email'].hasError('required')">
                                 Email is required.</span>
                              </div>
                              <div *ngIf="submitted && !contactForm.controls['email'].valid">
                                <span class="help-block" style="color:red"
                                 *ngIf="submitted && contactForm.controls['email'].hasError('email')">
                                 Email is not valid.</span>
                              </div>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <input type="text" name='phone' formControlName='phone' class="form-control" id="" placeholder="Phone">
                              <div *ngIf="submitted && !contactForm.controls['phone'].valid">
                                <span class="help-block" style="color:red"
                                 *ngIf="submitted && contactForm.controls['phone'].hasError('required')">
                                 Phone is required.</span>
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                              <input type="text" name='subject' formControlName='subject' class="form-control" id="" placeholder="Subject">
                              <div *ngIf="submitted && !contactForm.controls['subject'].valid">
                                <span class="help-block" style="color:red"
                                 *ngIf="submitted && contactForm.controls['subject'].hasError('required')">
                                 subject is required.</span>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <textarea class="form-control" name='message' formControlName='message' id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                            <div *ngIf="submitted && !contactForm.controls['message'].valid">
                              <span class="help-block" style="color:red"
                               *ngIf="submitted && contactForm.controls['message'].hasError('required')">
                               Message is required.</span>
                            </div>
                          </div>
                          
                          
                          <button type="submit" id='contactRequest' (click)='contactUs(contactForm.value)'
                          class="btn btn-request">Submit</button>
                        </form><!--form-->
                    
                    </div><!--colmd8-->
                    
                    <div class="col-md-4">
                    	
                        <h2 class="custom-h2">Get <span class="d-inline-block">in Touch</span></h2>
                    	
                        <div class="location">
                        	
                            <ul>
                            	<li>
                                  <i class="fas fa-map-marker-alt"></i> 
                                  Office E-501, Ittefaq Heights E-11/2 Islamabad, Pakistan
                                </li>
                                <li>
                                	<i class="fa fa-phone-alt"></i> (051) 8443148
                                </li>
                                <li>
                                	<i class="fa fa-envelope"></i> <a href="mailto:info@appflox.com">info@appflox.com</a>
                                </li>
                                <li>
                                	<i class="fa fa-globe"></i> <a href="http://www.appflox.com/">www.appflox.com</a>
                                </li>
                            </ul>
                        
                        </div><!--location-->
                        
                        <h2>Follow <span class="d-inline-block">us</span></h2>
                    	
                        <div class="location">
                        	
                            <ul>
                            	<li>
                                	<i class="fab fa-facebook-square"></i> <a href="https://www.facebook.com/appflox/">Facebook</a>
                                </li>
                                <li>
                                	<i class="fab fa-twitter-square"></i> <a href="#">Twitter</a>
                                </li>
                                <li>
                                	<i class="fab fa-linkedin-in"></i> <a href="https://www.linkedin.com/company/appflox">LinkedIn</a>
                                </li>
                                
                            </ul>
                        
                        </div><!--location-->
                        
                    </div><!--colmd4-->
                    </div>
                
                </div><!--boxstyle-->
                
            
            </div><!--row-->
        
        </div><!--container-->
    
    </section>
    
<!--Contact section-->

